body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img{
  width: 15rem;
}
.container{
  display: flex;
  gap: 1rem;
}

.contact-card{
  padding: 1rem;
  border: 1px solid black;
  width: fit-content;
  width: -moz-fit-content;
}
span{
  font-size: 1.5rem;
  font-weight: bold;
}